.cred-field {
  width: 50%;
}

.remove-btn {
  margin-left: 5px;
}

.int-repeater-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

/* Style the form container */
.airtable-fetched-columns-wrap {
  max-width: 900px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.note {
  display: block;
  margin-bottom:20px;
}



.note:last-child,
.airtable-fetched-columns-wrap:last-child {
  margin-bottom: unset;
}

/* Style the table layout */
.meta-row-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.meta-row-table th,
.meta-row-table td {
  padding: 21px 10px 21px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Increase the width of the input and select fields */
.meta-row-table input[type="text"],
.meta-row-table select {
  width: 90%;
  padding: 0 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
.meta-row-table input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.meta-row-table input[type="submit"]:hover {
  background-color: #218838;
}

.meta-row-table input[type="text"] {
  color:rgba(0, 0, 0, 0.486)
}

.remove-columns{

  background-color: red !important;    
  color: white !important;
  border-color: red !important;
} 
.remove-columns:hover {
  background-color: rgba(255, 0, 0, 0.575) !important;
}
.setting-desc{
  margin-bottom: 30px;
}